<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isCheckPhotos</key>
	<false/>
	<key>checkPhotos</key>
	<array/>
	<key>isTaskData2</key>
	<false/>
	<key>isMData</key>
	<false/>
	<key>isTaskData</key>
	<false/>
	<key>isSignIn</key>
	<false/>
	<key>schedule</key>
	<integer>0</integer>
	<key>scheduleCategory</key>
	<string></string>
	<key>signInDate</key>
	<string></string>
	<key>signInLatLng</key>
	<dict>
		<key>lat</key>
		<real>0</real>
		<key>lng</key>
		<real>0</real>
	</dict>
	<key>storeId</key>
	<string></string>
	<key>taskData2</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>isHave</key>
			<false/>
			<key>isSelected</key>
			<false/>
			<key>productName</key>
			<string>患者教育折页陈列</string>
			<key>questions</key>
			<array>
				<dict>
					<key>options</key>
					<array>
						<string>患者教育手册+OAD陈列架</string>
						<string>ED自测卡+OAD陈列架</string>
						<string>药师用药指导卡(彩色/黑白)+OAD陈列架</string>
						<string>以上皆无</string>
					</array>
					<key>name</key>
					<string>请选择该产品相应的促销陈列形式</string>
					<key>pictures</key>
					<array/>
					<key>result</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>isHave</key>
			<false/>
			<key>isSelected</key>
			<false/>
			<key>productName</key>
			<string>患者教育书籍陈列</string>
			<key>questions</key>
			<array>
				<dict>
					<key>options</key>
					<array>
						<string>爱之力书籍+性福加油站陈列架</string>
						<string>爱之力书籍+性福加油站挂架</string>
						<string>爱之力书籍在OAD展架旁</string>
						<string>爱之力书籍在收银台</string>
						<string>爱之力书籍在药师咨询台</string>
						<string>以上皆无</string>
					</array>
					<key>name</key>
					<string>请选择该产品相应的促销陈列形式</string>
					<key>pictures</key>
					<array/>
					<key>result</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>isHave</key>
			<false/>
			<key>isSelected</key>
			<false/>
			<key>productName</key>
			<string>糖尿病健康服务站 - 柜台陈列架</string>
			<key>questions</key>
			<array>
				<dict>
					<key>options</key>
					<array>
						<string>糖尿病健康知识宝典-陈列架</string>
						<string>糖尿病心天地APP教育单页 –陈列架</string>
						<string>《教你避开胰岛素使用的7大误区》- 陈列架</string>
						<string>以上皆无</string>
					</array>
					<key>name</key>
					<string>请选择该产品相应的促销陈列形式</string>
					<key>pictures</key>
					<array/>
					<key>result</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>3</integer>
			<key>isHave</key>
			<false/>
			<key>isSelected</key>
			<false/>
			<key>productName</key>
			<string>糖尿病健康服务站 - 患教书籍</string>
			<key>questions</key>
			<array>
				<dict>
					<key>options</key>
					<array>
						<string>糖尿病健康知识宝典-患教书籍(茶杯)</string>
						<string>糖尿病健康知识宝典-患教书籍(无茶杯)</string>
						<string>糖尿病心天地APP教育单页 –患教书籍</string>
						<string>《教你避开胰岛素使用的7大误区》 -患教书籍</string>
						<string>以上皆无</string>
					</array>
					<key>name</key>
					<string>请选择该产品相应的促销陈列形式</string>
					<key>pictures</key>
					<array/>
					<key>result</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>tag</key>
			<integer>4</integer>
			<key>isHave</key>
			<false/>
			<key>isSelected</key>
			<false/>
			<key>productName</key>
			<string>糖尿病健康服务站 - 灯箱/KT版/吊牌</string>
			<key>questions</key>
			<array>
				<dict>
					<key>options</key>
					<array>
						<string>主画面灯箱</string>
						<string>主画面KT版</string>
						<string>主画面指引吊牌</string>
						<string>以上皆无</string>
					</array>
					<key>name</key>
					<string>请选择该产品相应的促销陈列形式</string>
					<key>pictures</key>
					<array/>
					<key>result</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
	<key>mData</key>
	<dict>
		<key>M0</key>
		<false/>
		<key>LiquidDesc</key>
		<string></string>
		<key>OaDDesc</key>
		<string></string>
		<key>PRNDesc</key>
		<string></string>
		<key>BaiyouDesc</key>
		<string></string>
		<key>YoumiDesc</key>
		<string></string>
		<key>M4</key>
		<true/>
		<key>M5</key>
		<true/>
		<key>M6</key>
		<true/>
		<key>M7</key>
		<true/>
		<key>M3</key>
		<false/>
		<key>M2</key>
		<array/>
		<key>M1</key>
		<false/>
		<key>endTime</key>
		<string></string>
		<key>startTime</key>
		<string></string>
		<key>M1a</key>
		<integer>0</integer>
		<key>M1b</key>
		<integer>0</integer>
		<key>M1c</key>
		<integer>0</integer>
		<key>M1d</key>
		<integer>0</integer>
		<key>M2a</key>
		<integer>0</integer>
		<key>M2b</key>
		<integer>0</integer>
		<key>M2c</key>
		<integer>0</integer>
		<key>M3a</key>
		<integer>0</integer>
		<key>M3b</key>
		<integer>0</integer>
		<key>M3c</key>
		<integer>0</integer>
		<key>M4a</key>
		<integer>0</integer>
		<key>M4b</key>
		<integer>0</integer>
		<key>M4c</key>
		<integer>0</integer>
		<key>M4e</key>
		<integer>0</integer>
		<key>M4d</key>
		<integer>0</integer>
		<key>M5a</key>
		<integer>0</integer>
		<key>M5b</key>
		<integer>0</integer>
		<key>M5c</key>
		<integer>0</integer>
		<key>M5d</key>
		<integer>0</integer>
		<key>M5e</key>
		<integer>0</integer>
		<key>M5f</key>
		<integer>0</integer>
		<key>M5g</key>
		<integer>0</integer>
		<key>M6a</key>
		<integer>0</integer>
		<key>M6b</key>
		<integer>0</integer>
		<key>M6c</key>
		<integer>0</integer>
		<key>M7a</key>
		<integer>0</integer>
		<key>M7b</key>
		<integer>0</integer>
		<key>M7c</key>
		<integer>0</integer>
		<key>M7d</key>
		<integer>0</integer>
		<key>M7e</key>
		<integer>0</integer>
		<key>M7f</key>
		<integer>0</integer>
		<key>M7g</key>
		<integer>0</integer>
		<key>M7h</key>
		<integer>0</integer>
		<key>M7i</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
